[submodule "runtimes/common/cJSON"]
	path = runtimes/common/cJSON
	url = https://github.com/DaveGamble/cJSON
[submodule "runtimes/common/wasm-micro-runtime"]
	path = runtimes/common/wasm-micro-runtime
	url = git@github.com:bytecodealliance/wasm-micro-runtime.git
[submodule "runtimes/common/wasm-micro-runtime-sl"]
	path = runtimes/common/wasm-micro-runtime-sl
	url = git@github.com:SilverLineFramework/wasm-micro-runtime.git
