[submodule "runtimes/common/cJSON"]
	path = runtimes/common/cJSON
	url = https://github.com/DaveGamble/cJSON
[submodule "benchmarks"]
	path = benchmarks
	url = git@github.com:SilverLineFramework/benchmarks.git
[submodule "tests"]
	path = tests
	url = git@github.com:SilverLineFramework/tests.git
[submodule "wasm-micro-runtime-wali"]
	path = runtimes/wasm-micro-runtime-wali
	url = git@github.com:SilverLineFramework/wasm-micro-runtime.git
	branch = wali
[submodule "runtimes/common/wasm3"]
	path = runtimes/wasm3
	url = git@github.com:wasm3/wasm3.git
[submodule "runtimes/wasm-micro-runtime"]
	path = runtimes/wasm-micro-runtime
	url = git@github.com:bytecodealliance/wasm-micro-runtime.git
[submodule "runtimes/common/wasm-instrument"]
	path = runtimes/common/wasm-instrument
	url = https://github.com/arjunr2/wasm-instrument.git
	branch = main
[submodule "runtimes/wasm-micro-runtime-sl"]
	path = runtimes/wasm-micro-runtime-sl
	url = https://github.com/SilverLineFramework/wasm-micro-runtime.git
